html {
    background-color: var(--background-1);
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

:root {
    color: var(--white);
    font-size: 62.5%;
    font-family: 'Arvo', serif;
    --headline-1: bold 7.2rem 'Arvo', serif;
    --headline-2: bold 6.4rem 'Arvo', serif;
    --headline-3: bold 3.2rem 'Arvo', serif;
    --headline-4: bold 2.4rem 'Arvo', serif;
    --headline-5: bold 2.0rem 'Arvo', serif;
    --button-font: normal 1.8rem 'Arvo', serif;
    --caption: normal 1.2rem 'Arvo', serif;
    --body-1: normal 1.8rem 'Arvo', serif;
    --body-1-bold: bold 1.8rem 'Arvo', serif;
    --body-2: normal 1.4rem 'Arvo', serif;
    --body-2-bold: bold 1.4rem 'Arvo', serif;
    /* Colores */
    --primary: #5928E5;
    --secondary: #72757E;
    --white: #FFFFFE;
    --grey: #94A1B2;
    --tertiary: #2CB67D;
    --background-1: #16161A;
    --background-2: #242629;
    --button: #7F5AF0;
}
.proyects{
    max-inline-size: 781px;
    margin: 0 auto;
}
.wrapper {
    max-width: 1188px;
    margin-inline: auto;
}
.button--primary:hover{
    cursor: pointer;
    background-color: var(--primary);
}
.button--primary {
    border: 1px solid var(--button);
    color: var(--white);
    background-color: var(--button);
    font: var(--button-font);
    padding-block: 12px;
    padding-inline: 24px;
    border-radius: 4px;
}
.button--secondary:hover{
    color: white;
    cursor: pointer;
    background-color: var(--button);
}
.button--secondary {
    border: 1px solid var(--button);
    color: var(--button);
    font: var(--button-font);
    background-color: transparent;
    padding-block: 12px;
    padding-inline: 24px;
    border-radius: 4px;
}

.button--section {
    border: 0px;
    background-color: var(--tertiary);
    font: var(--button-font);
    color: var(--background-1);
    padding-block: 12px;
    padding-inline: 24px;
    border-radius: 4px;
}

.project__button-container {
    margin: 0;
    padding: 0;
}

.button--large {
    border: 0px;
    color: var(--white);
    background-color: var(--button);
    font: var(--button-font);
    padding-block: 19px;
    padding-inline: 64px;
    border-radius: 4px;
}

.button--large::after {
    vertical-align: middle;
    content: '';
    height: 24px;
    width: 24px;
    display: inline-block;
    background-image: url("../rsc/ico/icon/arrow-right.svg");
}

h4 {
    font: var(--headline-4);
}
a {
    color: var(--white);
    text-decoration: none;
}
h1 {
    font: var(--headline-1);
    color: var(--white);
}

/* Header */
header {
    position: sticky;
    top: 0;
    background-color: var(--background-1);
}
header h4{
    display: inline-block;
}
header nav{

    display: none;
}

header ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    display: flex;
    width: 506px;
    justify-content: space-between;

}
header ul li{
    font: var(--body-2-bold);
    text-transform: uppercase;
    list-style: none;
}



header {
    padding-block: 20px;
    padding-inline: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h4 {
    margin: 0px;
}

.header__menu-icon {
    height: 24px;
    width: 24px;
    left: 24px;
    z-index: 50;
    display: inline-block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../rsc/ico/icon-menu.svg");
}
.header__menu-icon--interact{
    z-index: 100;
opacity: 0;
    position: relative;
    display: inline-block;
    height: 24px;
    width: 24px;
}


/* main  */

main {
    padding-inline: 16px;
}

.hero {
    padding-block: 80px;
}

.hero h1 {
    font: var(--headline-4);
}

.hero p {
    font: var(--body-1);
    color: var(--secondary);
}

/* Main - Projects */

.proyects h2 {
    font: var(--headline-4);
}

.project .button--primary {
    width: 100%;
    display: block;
    margin-block-start: 16px;
}

.project .button--secondary {
    width: 100%;
    display: block;
    margin-block-end: 16px;
}

.project__tittle {
    margin-block: 16px;
    font: var(--body-1);
    color: var(--grey);
}

.project__description {
    margin-block: 16px;
    font: var(--headline-5);
    color: var(--grey);
}

.project img {
    max-inline-size: 328px;
    display: block;
    margin-inline: auto;
}

.project {
    margin-block: 80px;
}

/* bussines */

.bussines-job img {
    display: block;
    margin-inline: auto;
}

.bussines-job h2 {
    font: var(--headline-4);
}

/* contact */

footer {
    margin: 0 16px;
}

.contact a {
    font: var(--headline-4);
    color: var(--button);
}

.contact h2 {
    font: var(--headline-4);
}

.contact-left, .contact-rigth {
    margin: 32px 0;
}

.contact-left p, .contact-rigth p {
    margin: 16px 0;
    font: var(--body-1);
    color: var(--secondary);
}

.contact-left ul, .contact-rigth ul {
    font: var(--body-2);
    color: var(--white);
    margin: 0;
    padding: 0;
}

.contact a {
    display: block;
}

.contact-left ul li, .contact-rigth ul li {
    margin: 16px 0;
    list-style: none;
}


/* Hamburguer  */
.header__menu-icon--interact:checked + .hamburguer{
    transform: translateY(0);
    opacity: 1;
}
.hamburguer {
    z-index: 10;
    transition: 0.2s ease-in;
    top: 0px;
    right: 0px;
    position: absolute;
    background-color: var(--background-2);
    width: 200px;
    transform: translateY(-200px);
    opacity: 0;
}
.hamburguer ul{
    display: block;
    width: auto;
    padding-block: 32px;
}
.hamburguer li{
    text-align: center;
    margin-block: 16px;
    display: block;
}
@media (min-width: 750px) {
    .hero h1 {
        font: var(--headline-1);
    }
    .project img {
        max-inline-size: 782px;
    }
    .contact h2 {
        font: var(--headline-2);
    }
 
    .bussines-job h2{
        font: var(--headline-2);
    }
    .proyects h2{
        font: var(--headline-2);
        text-align: center;
    }
    header span{
        display: none;
    }
    header nav{
        display: inline-block;
    }
    
}
@media (min-width: 900px) {
    .contact a {
        font-size: 4.4rem;
    }
}